Source: ros-melodic-tf2-2d
Section: misc
Priority: optional
Maintainer: Stephen Williams <swilliams@locusrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-melodic-catkin, ros-melodic-roscpp, ros-melodic-roslint, ros-melodic-tf2
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-tf2-2d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-melodic-roscpp, ros-melodic-tf2
Description: A set of 2D geometry classes modeled after the 3D geometry classes in tf2.
